<%- include('../layouts/header.ejs') %>
<%- include('../layouts/navbar.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css">

<div class="hero-wrap hero-bread" style="background-image: url('/assets/images/bg_6.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>Password</span></p>
        <h1 class="mb-0 bread">My Password</h1>
      </div>
    </div>
  </div>
</div>
<%- include('../profileLayouts/sidebar.ejs') %>

<div class="container my-5 d-flex justify-content-center align-items-center" style="min-height: 30vh;">
  <div class="row w-100">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <h1 class="text-center">Change Password</h1>
      <% if (message) { %>
        <p class="text-center"><%= message %></p>
      <% } %>
      <form action="/change-password" method="POST">
        <div class="form-group">
          <label for="oldPassword">Old Password:</label>
          <input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
      </form>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>

<%- include('../layouts/footer.ejs') %>
<style>
  .w-100 {
    width: 100% !important;
    margin-left: 15%;
    margin-top: -60%;
}

.sidebar {
    background-color: rgb(245, 245, 245);
    padding: 15px;
    border-radius: 5px;
}

.list-group-item {
    border: none;
    padding: 10px 0; /* Adjust padding as needed */
}

.list-group-item.active {
    background-color: transparent;
}

.list-group-item a {
    color: rgb(0, 0, 0);
    text-decoration: none; /* Ensure no underline */
}

.list-group-item a:hover {
    text-decoration: underline; /* Add underline on hover if needed */
}

.sidebar {
    width: 20%;
    margin-bottom: 20px;
    margin-top: 9%;
}

.list-group-item a.active {
    color: red;
}

</style>